@font-face {
    font-family: 'Afterglow';
    src: url('Afterglow-Regular.woff2') format('woff2'),
        url(../Fonts/'Afterglow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; }
@font-face {
    font-family: 'Letter Magic';
    src: url('LetterMagicRegular.woff2') format('woff2'),
        url(../Fonts/'LetterMagicRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; }
body {
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 1;
    height: auto;
    position: relative;
}
.container {
    width: 100%;
    margin: 0;
    padding: 16px;
 }
h1.firstname {
    padding-top: 6rem;
    padding-bottom: .3rem;
    font-family: 'Letter Magic'; 
    font-size: 1.875rem;
    text-align: center;
    margin: 0;
}
h1.lastname {
    font-family: 'Letter Magic'; 
    font-size: 1.875rem;
    text-align: center;
    margin: 0 0 5rem 0; }
.navigator {
    list-style: none;
    text-align: center;
    font-size: 1.125rem; }
ul.navigator {
    padding: 0;
}
ul.navigator li{
    padding: 3rem;
    list-style: none; }
ul.bottomheader {
    width: 100%;
    margin: 0;
    padding: 16px; 
    list-style: none; }
.bottomheader li {
    font-family: 'Letter Magic';
    font-size: 1.5625rem;
    display: inline-block; }
.bottomheader li a {
    text-align: center;
    padding: none;
}
li.project {
    position: relative;
    text-align: right;
    left: 10rem;
}
.projecttitle {
    text-align: right; }
.projectone {
    border-top: .1rem solid black;
    background-color: rgb(213, 221, 166);
    width: 100%;
    margin: 0 0 1;
    padding: 16px;
    max-height: 12rem; }
h5 {
    font-family: 'Afterglow';
    font-size: 10rem;
    margin: 0; 
    padding-left: 2rem;
    bottom: 10rem;
    position: relative; }
h6 {
    font-family: 'Afterglow';
    margin: 0;
    padding: .5rem;
}
aside.imagebox {
    height: 11.25rem;
    width: 13rem;
    position: relative; 
    border: .1rem solid black;
    left: 9rem;
    z-index: 1;
}
]
aside.table{
    position: relative;
    left: 10rem;
    z-index: 10;
}
.projecttwo {
    background-color: blue;
    width: 100%;
    margin: 0 0 1;
    padding: 16px;
    max-height: 12rem; }
.projectthree {
        background-color: yellow;
        width: 100%;
        margin: 0 0 1;
        padding: 16px;
        max-height: 12rem; }